
.hiName{
  padding-top: 1%;
  font-weight: 600;
  font-size: 130%;
}

.navbar-brand{
  margin: 0% 0% 0% 4%;
}

.mainrow{
  padding-left: 10rem;
  padding-top: 0px;
  width: 100%;
  height: 100%;
}

.auth-wrapper{
  margin-top: auto;
  padding-top: 90px;
}

.todo{
  /* padding-top: 17%;
  padding-left: 2%;   */
  background: #ffffff;
  padding: 40px 55px 45px 55px; 
  border-radius: 15px;
}


.TODOtd{
  font-weight: bold;
}

.auth-login
{
  width: 30%;
  height: auto;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34,35,58,0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  overflow: hidden;
}

/* KALENADR PRIVREMENI  */
.kal{
  border-radius: 15px;
  background-color: #ffffff;
  margin: 0.2%;
}

.counter{
  background-color: blue;
  border-radius: 15px;
  margin-left: 35px;
  margin-top: 0px;
  text-align: center;
  max-width: 25px;
}

.counter0{
  visibility: hidden;
}

  /* TODO LISTAAAA */

.titlenote p{
  font-weight: bold;
  font-size: 18px;
  display: block;
  width: 100%;
  padding-top: 5px;
}

.titlecontent{
  background-color: aqua;
  border-radius: 15px;
  margin-bottom: 3%;
}

/******  Timer   ******/
.main-section {
  background: transparent;
  width: 90%;
  height: 500px;
  margin: 30px auto;
}

.clock-holder {
  width: 100%;
  background: #fff;
  margin: 30px auto;
  position: relative;
}
.stopwatch {
  padding: 60px 0px;
  text-align: center;
}
.stopwatch span{
  background:#00ABA9;
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  padding: 20px;
  border-radius: 5px;
  width: 4rem;
}

.stopwatch .stopwatch-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
}
.stopwatch .stopwatch-btn-red{
  border: 2px solid #C85454;
  color: #C85454;
}
.stopwatch .stopwatch-btn-yel{
  border: 2px solid #FFC900;
  color: #FFC900;
}

.stopwatch .stopwatch-btn-gre{
  border: 2px solid #00ABA9;
  color: #00ABA9;
}
.stopwatch .stopwatch-btn-red:hover {
  background: #C85454;
  border: 2px solid #C85454;
  color: #fff;
}
.stopwatch .stopwatch-btn-yel:hover {
  background: #FFC900;
  border: 2px solid #FFC900;
  color: #fff;
}
.stopwatch .stopwatch-btn-gre:hover {
  background: #00ABA9;
  border: 2px solid #00ABA9;
  color: #fff;
}


/********  NOTES  ***************/

.notes{
  margin-left: 1%;
}

.saveNotesBtn{
  float: right;
}
.saveEventBtn{
  margin: 1%;
  float: right;
}

.buttoninnotes{
  float: right;
  max-width: 5rem;
  padding: 1%;
}

.titlecontentNotes{
  background-color: aqua;
  border-radius: 15px;
  margin-bottom: 3%;
  float: left;
  width: 106%;
}

.NotesBtn{
  margin: 1%;
}

.updateBtn{
  float: right;
  margin: 1%;
}

.CloseUpdate{
  float: right;
  margin: 1%;
}

.labelfromnotesadd{
  font-weight: 600;
  font-size: large;
}

.searchNotes{
  margin-top: 1%;
}

/************ TAB CONTROL  ******************/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabs {
  margin-top: 5px;
  text-align: center;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}


.content {
  display: none;
}

.active-content {
  display: block;
}